@import "fuentes";

/* COLORES */
$azul:blue;
$negro:rgb(0,0,0);
$amarillo:yellow;
$anaranjado: rgb(235, 167, 72);
$naranja:rgb(255, 115, 0);
$rojo: red;
$blanco: white;

.col-lg-6{
	h1{
	 color:$azul;
	}
	p{
	color:$amarillo;
	font-size:$pDesktop;
	}
} 
