/* FUENTES */
$pDesktop:20px;
$fontFamily: 'tahoma';
$FuenteGothic: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

.col-lg-6{
	p{
	font: {
		size:$pDesktop;
		family:$fontFamily;
		weight:bold;
		}
	}

} 
/*MAPS*/

$estilo-div: (
  fuente: $FuenteGothic,
  centro: left,
  1rem : 1rem
);
div {
    font-family: map-get($estilo-div, fuente);;
    text-align: map-get($estilo-div, centro);
    padding: map-get($estilo-div, 1rem);
  }
 



