@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
/*smartphone*/
@media (max-width: 767.98px){
    body{    
        @include reset-list; 
        width: 100%;    
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    }
    html {
        font-size: 1.2rem;
      }
    .publicidad{
        display: flex;
        flex-direction: row;
    }
    
    
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 991.98px) {
    aside {
        @include reset-list;
        display: flexbox;
        flex-direction: row;
       grid-area: publicidad;
    }
    body{   
        width: 100%;
        background: radial-gradient(circle, rgb(172, 203, 60) 0%, rgba(205,252,69,1) 100%);
    }
    html {
        font-size: 1.4rem;
      }
    nav{
        background-color: coral;
        height: fit-content;
    }
    
    
}

/*Desktop*/
@media (min-width: 992px) {
     aside {
        @include reset-list;
        display: flexbox;
        flex-direction: column;
       grid-area: publicidad;
    }
    nav{
        background-color: coral;
    }
    body{   
        width: 100%;
        background: radial-gradient(circle, rgba(104,126,170,1) 0%, rgba(69,113,252,1) 100%);
    }
    html {
        font-size: 1.6rem;
      }
    
}

