*{
    padding: 0;
    margin: 0;
    
}
body{
    width: 100%;
}
footer {
    grid-area: footer;
    color: darkblue;
    background-color: rgb(231, 203, 165);
}
section#productos {
    grid-area: productos;     
    display: flexbox;
    flex-direction: row;
}  

header{
    background-color: rgb(255, 152, 68);
    grid-area: header;
    display: grid;
}

ul li:hover{
    background-color: rgb(230, 74, 2);
    color: white;
    height: 100px;
    border: solid 10px;
}
nav{
    background-color: rgb(0, 0, 0);  
    grid-area: nav;
    justify-content: space-between;
}

h1#titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}
h1{
    background-color: rgb(255, 115, 0);
    color: rgb(2, 17, 39);
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 10px 0px 10px 0px;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    background-color: rgb(235, 167, 72);
    justify-content: center;
}
dd{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    background-color: rgb(235, 167, 72);
    justify-content: center;
}
#nos{ 
    background-color: rgb(202, 82, 38);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(250, 249, 246);
}
#barrios{
    text-align:justify;
    color: rgb(46, 38, 7);
    font-size: 20px;
    padding-left: 40%;
    background-color: rgb(235, 167, 72);
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(231, 203, 165);
}

#tendencia{
    background-color: red;
}
.form{
    width: 100%;
    padding-left: 20px;  
}
fieldset{
    background-color: rgb(245, 177, 177);
}
.border {
    border: 5px solid black;
}
.link{
    background-color: rgb(10, 248, 10);
    color: rgb(0, 0, 0);
}
 /*smartphone*/
 @media (max-width: 767.98px){

        body{         
            background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        }
        html {
            font-size: 1.2rem;
          }
        .publicidad{
            display: flex;
            flex-direction: row;
        }
        
        
    }

/*Tablet*/
@media (min-width: 768px) and (max-width: 991.98px) {
        aside {
            display: flexbox;
            flex-direction: row;
           grid-area: publicidad;
        }
        body{   
            
            background: radial-gradient(circle, rgb(172, 203, 60) 0%, rgba(205,252,69,1) 100%);
        }
        html {
            font-size: 1.4rem;
          }
        nav{
            background-color: coral;
            height: fit-content;
        }
        
        
    }

    /*Desktop*/
    @media (min-width: 992px) {
         aside {
            display: flexbox;
            flex-direction: column;
           grid-area: publicidad;
        }
        nav{
            background-color: coral;
        }
        body{   
            
            background: radial-gradient(circle, rgba(104,126,170,1) 0%, rgba(69,113,252,1) 100%);
        }
        html {
            font-size: 1.6rem;
          }
        
    }
    .animate__animated.animate__flash {
        --animate-duration: 2s;
      }
      .animate__animated.animate__bounceIn{
        --animate-duration: 5s;
      }

      html {
        font-size: 1rem;
      }
     
